<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Added</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa; 
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }

        h1 {
            color: DodgerBlue;
        }

        h2 {
            color: DodgerBlue;
        }

        button {
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div class="text-center">
        <h1 class="text-primary">RECIPE ADDED SUCCESSFULLY</h1>
        <h2>Below recipe has been added to the database</h2>
        <h2>{{ recipe_name }}</h2>
        <a class="btn btn-primary" href="/">GO TO MAIN</a>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
